<template>
  <div id="pizza">
    <transition name="fade">
      <img
        id="logo"
        v-if="logged"
        alt="Imagen de una pizza"
        src="@/assets/logo_white.png"
      >
    </transition>
    <img
      id="photo"
      alt="Imagen de una pizza"
      src="@/assets/pizza.png"
      class="fade-in-image"
    >
  </div>
</template>

<script>
export default {
  name: 'pizza',
  computed: {
    logged() {
      return this.$store.getters.logged
    }
  },
}
</script>

<style scoped>
  #pizza{
    display:flex;
    align-items: center;
    background: url('./../../assets/background.png') no-repeat !important;
    background-size: cover !important;
  }
  #logo{
    position: absolute;
    top: 40px;
    width: 111px;
    left: 80px;
  }
  #photo{
    width: 100%;
  }




  .fade-in-image{
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
  }
  @keyframes fadeIn{
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @-moz-keyframes fadeIn{
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @-webkit-keyframes fadeIn{
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @-o-keyframes fadeIn{
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @-ms-keyframes fadeIn{
    0% {opacity:0;}
    100% {opacity:1;}
  }

  .fade-enter-active, .fade-leave-active{
    transition: opacity 2s
  }
  .fade-enter, .fade-leave-to{
    opacity: 0
  }
</style>
