<template>
  <div>
    <div id="home">
      <div id="closeSession" @click="closeSession()">
        <img alt="Salir" src="@/assets/close.png">Salir
      </div>
      <h1>Pizzerías</h1>
      <h2>Tiendas</h2>
      <h3>Escoje tu pizzería favorita</h3>
      <div id="pizzerias">
        <v-row
          no-gutters
          style="height: 150px;"
        >
          <v-col
            v-for="(pizzeria, i) in pizzerias"
            :key="i"
            class="pizzeria"
            cols="12"
            sm="6"
            md="4"
          >
            <div class="item" @click="showPizzasDialog(pizzeria)">
              <img :alt="`Logo de ${pizzeria.name}`" :src="require(`@/assets/pizzerias/${pizzeria.id}.png`)">
              <h4>{{pizzeria.name}}</h4>
              <p>{{pizzeria.address}}</p>
            </div>
          </v-col>
        </v-row>
      </div>
    </div>
    <footer>
      <a href="https://facebook.com/" alt="Nuestro Facebook" target="_blank">
        <img class="social" alt="Facebook" src="@/assets/facebook.png">
      </a>
      <a href="https://instagram.com/" alt="Nuestro Instagram" target="_blank">
        <img class="social" alt="Instagram" src="@/assets/instagram.png">
      </a>
      <img class="logo" alt="Logo BEST PIZZA" src="@/assets/logo_white_full.png">
    </footer>
    <v-dialog
      v-model="dialogPizzas"
      width="500"
    >

      <v-card v-if="dialogPizzas">
        <template slot="progress">
          <v-progress-linear
            color="deep-purple"
            height="10"
            indeterminate
          ></v-progress-linear>
        </template>

        <v-img
          height="250"
          :src="require(`@/assets/pizzerias/${pizzeriaSelected.id}.png`)"
        />

        <v-card-title>{{pizzeriaSelected.name}}</v-card-title>

        <v-card-text>
          <div class="my-4 text-subtitle-1">
            {{pizzeriaSelected.address}}
          </div>
          <div>{{pizzeriaSelected.description}}</div>
        </v-card-text>

        <v-divider class="mx-4"></v-divider>

        <v-card-title>Pizzas</v-card-title>

        <v-card-text>
          <v-chip-group
            active-class="deep-purple accent-4 white--text"
            column
          >
            <v-chip
              v-for="pizza in pizzeriaSelected.products"
              :key="pizza.id"
            >
              {{pizza.name}}
            </v-chip>
          </v-chip-group>
        </v-card-text>

        <v-card-actions>
          <v-btn
            text
            @click="dialogPizzas = false"
          >
            Cerrar
          </v-btn>
        </v-card-actions>
      </v-card>

    </v-dialog>
  </div>
</template>

<script>

export default {
  name: 'Home',
  computed: {
    pizzerias() {
      return this.$store.state.pizzerias
    }
  },
  data() {
    return {
      dialogPizzas: false,
      pizzeriaSelected: {},
    }
  },
  created() {
    this.$store.dispatch("getPizzerias");
  },
  logged() {
    return this.$store.getters.logged
  },
  methods: {
    showPizzasDialog(pizzeria){
      this.pizzeriaSelected = pizzeria;
      this.dialogPizzas = true;
    },
    closeSession() {
      this.$router.replace({ name: 'start' })
      this.$store.commit('LOGOUT')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  @import "@/css/basic.scss";
  #home{
    padding: 60px 50px 120px 50px;
    #closeSession{
      cursor: pointer;
      font-weight: normal;
      color: $gray;
      font-size: 1rem;
      display:flex;
      letter-spacing: -0.5px;
      position: absolute;
      right: 50px;
      img{
        height: 21px;
        margin-right: 5px;
      }
    }
    h1{
      font-weight: normal;
      color: $gray;
      font-size: 1rem;
      border-bottom: 3px solid $yellow;
      display:inline;
      padding: 5px 10px 0px 10px;
      letter-spacing: -0.5px;
    }
    h2{
      font-family: 'Open Sans', sans-serif;
      margin-top: 40px;
    }
    h3{
      font-size: 0.9rem;
      font-weight: normal;
      color: $gray;
    }
    h4{
      margin-top: 10px;
      font-weight: normal;
      font-size: 1rem;
      line-height: 0.9rem;
    }
    p{
      font-size: 0.7rem;
      color: $gray;
      margin-bottom: 10px;
    }
  }
  #pizzerias{
    display: flex;
		flex-direction: row;
		flex-wrap: wrap;
    gap: 35px;
    margin-bottom: 300px;
    .pizzeria{
      .item{
        cursor:pointer;
        padding: 18px 36px 18px 0px;
        transition: scale 0.2s ease-in-out;
        &:hover{
          scale: 1.1;
        }
        img{
          width: 100%;
        }
      }
    }
  }
  footer{
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-left: 42%;
    background: #1f1f1f;
    padding: 20px 40px;
    .social{
      margin-right: 20px;
    }
    .logo{
      height: 30px;
      float: right;
    }
  }
  @media (max-width: 700px){
    footer{
      margin-left: 0% !important;
    }
  }
</style>
