<template>
  <div id="login">
    <img alt="Logo de BEST PIZZA" src="@/assets/logo_normal.png">
    <h1>Bienvenido</h1>
    <h2>A las mejores pizzas del país</h2>
      <v-alert
        v-model="showAlert"
        border="left"
        close-text="Close Alert"
        color="amber darken-4"
        dark
        dismissible
      >
        Usuario o contraseña incorrectos
      </v-alert>
      <v-text-field
        id="user"
        v-model="loginData.user"
        label="Usuario"
        solo
        outlined
        flat
      />
      <v-text-field
        id="password"
        v-model="loginData.password"
        label="Password"
        solo
        outlined
        flat
      />
      <div id="passwordRescue">¿Olvidaste tu contraseña?</div>
      <v-btn
        class="ma-2"
        x-large
        block
        @click="login"
      >
        Iniciar sesión
      </v-btn>
  </div>
</template>

<script>

export default {
  name: 'Login',
  props: {
    msg: String
  },
  data () {
    return {
			loginData: {
				user: 'pperez@perez.com',
				password: 'pperezs123'
			},
      showAlert: false,
    }
  },
  computed: {
    users() {
      return this.$store.state.users
    }
  },
  created() {
    this.$store.dispatch("getUsers");
  },
  methods: {
    login() {
      const result = this.users.find((user) => {
        if (user.email === this.loginData.user && user.password === this.loginData.password)
          return true;
      })
      if (result) {
        this.$router.replace({ name: 'home' })
        this.$store.commit('LOGGED')
      } else {
        this.showAlert = true;
      }
    },
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss"  scoped>
  @import "@/css/basic.scss";
  #login{
    text-align: center;
    padding: 20% 10%;
    max-width: 500px;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    img{
      width: 180px;
    }
    h1{
      font-weight: 600;
      font-size: 2.3em;
      margin-bottom: 5px;
      letter-spacing: -1px;
    }
    h2{
      font-weight: 300;
      font-size: 1.2em;
      color: $gray;
      margin-bottom: 30px;
    }
    #passwordRescue{
      font-family: 'Lexend', sans-serif;
      font-weight: 500;
      text-decoration: underline;
      margin-bottom: 30px;
    }
    button{
      font-family: 'Lexend', sans-serif;
      font-weight: 500;
      letter-spacing: normal;
      text-transform: none;
      padding: 28px;
      margin: 0px !important;
    }
    .v-btn--is-elevated {
        box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.1), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
    }
  }
</style>
