<template>
  <v-app>
    <div id="content">
      <pizza/>
      <div id="lateral">
        <transition  name="fade" mode="out-in">
          <router-view />
        </transition>
      </div>
    </div>
  </v-app>
</template>

<script>
import Pizza from '@/components/visuals/Pizza';

export default {
  name: 'App',

  components: {
    Pizza,
  },

  data: () => ({
    //
  }),
};
</script>

<style lang="scss">
@import "@/css/basic.scss";
  @media (min-width: 700px){
    #pizza{
      width: 42%;
      height: 100vh;
      position: fixed;
      top: 0px;
    }
    #lateral{
      width: 58%;
      position: fixed;
      top: 0px;
      right: 0px;
      bottom: 0px;
      overflow: auto;
    }
    #content{
      display:flex;
      height: 100vh;
    }
  }
  #user{
    background: url('./assets/user.png') no-repeat !important;
  }
  #password{
    background: url('./assets/password.png') no-repeat !important;
  }
  #user, #password{
    border-color: #9b9b9b !important;
    background-position: center right 5px !important;
    background-size: 20px 20px !important;
    padding-right: 40px;
  }
  .theme--light.v-label{
    color: $gray2 !important;
    font-size: 12px;
  }
  .theme--light.v-btn.v-btn--has-bg{
    background-color: $yellow!important;
    color: #000!important;
  }

  /* Animation Vue - Router */
  .fade-enter {
    opacity: 0;
  }

  .fade-enter-active {
    transition: opacity 0.7s ease;
  }

  .fade-leave-active {
    transition: opacity 0.7s ease;
    opacity: 0;
  }
</style>
